<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-spy="scroll" data-target="#nav_bar" data-offset="50">
    <%= render '/pages/nav_bar' %>
    <%= yield %>
  </body>
</html>
